body {
  background-color: #022d41;
  color: #daecf3;
  font-family: Candara, sans-serif;
  height: auto;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.name, .pronunciation {
  min-width: 400px;
  text-align: center;
}

.name {
  color: #daecf3;
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 8%;
  width: 100%;
}

.pronunciation {
  color: #1aa6b7;
  font-style: italic;
}

.livingRoom {
  border-bottom: 5px solid #b9ffb1;
  height: 400px;
  margin: 0 auto;
  position: relative;
  width: 400px;
}

.topLeftFrame, .topRightFrame {
  height: 25%;
  position: absolute;
  top: 3%;
}

.topLeftFrame {
  left: 5%;
}

.topRightFrame {
  right: 5%;
}

.centerFrame{
  height: 40%;
  left: 30%;
  position: absolute;
  top: 12%;
}

.bottomLeftFrame, .bottomRightFrame {
  height: 25%;
  position: absolute;
  top: 35%;
}

.bottomLeftFrame {
  left: 5%;
}

.bottomRightFrame {
  right: 5%;
}

.frameContainer {
  height: 75%;
  left: 12%;
  position: absolute;
  text-align: center;
  top: 12%;
  width: 75%;
}

/*frame.svg*/
.frameFile {
  height: 100%;
  position: relative;
  width: 100%;
}

/*icons*/
.frameContainer img {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

#chair {
  bottom: 0;
  height: 40%;
  left: 30%;
  position: absolute;
}

#plant {
  bottom: 0;
  height: 25%;
  position: absolute;
  right: 15%;
}

#roseCurve {
  position: absolute;
  right: 25%;
  top: 25%;
}

#connect, #tweet, #fork, #mail {
  color: #daecf3;
  margin: 0;
  padding: 8%;
  position: relative;
  text-align: center;
}

.blurb, nav {
  margin: 0 auto;
  width: 400px;
}

nav li{
  clear: left;
  float: right;
  display: block;
  position: relative;
  width: 25%;
}
