body {
  width: 100%;
  height: auto;
  background-color: #022d41;
  font-family: Candara, sans-serif;
  text-align: center;
  vertical-align: middle;
}

.name {
  color: #daecf3;
  top: 50%;
  width: 100%;
  min-width: 400px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 5%;
}

.pronunciation {
  font-style: italic;
  color: #1aa6b7;
  min-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.livingRoom {
  position: relative;
  width: 400px;
  height: 400px;
  vertical-align: middle;
  margin: 0 auto 0 auto;
}

.topLeftFrame {
  position: absolute;
  top: 5%;
  left: 5%;
}

.topLeftFrame img {
  position: relative;
  width: 100%;
  height: 100%;
}

.bottomLeftFrame {
  position: absolute;
  top: 30%;
  left: 5%;
}

.bottomLeftFrame img {
  position: relative;
  width: 100%;
  height: 100%;
}

.centerFrame{
  position: absolute;
  top: 10%;
  left: 30%;
}

.centerFrame img {
  position: relative;
  width: 100%;
  height: 100%;
}

.topRightFrame {
  position: absolute;
  top: 5%;
  right: 5%;
}

.topRightFrame img {
  position: relative;
  width: 100%;
  height: 100%;
}

.bottomRightFrame {
  position: absolute;
  top: 30%;
  right: 5%;
}

.bottomRightFrame img {
  position: relative;
  width: 100%;
  height: 100%;
}

.chair {
  position: absolute;
  left: 30%;
  bottom: 0;
}

.chair img {
  position: relative;
  width: 100%;
  height: 100%;
}

.plant {
  position: absolute;
  right: 15%;
  bottom: 0;
}

.plant img {
  position: relative;
  width: 100%;
  height: 100%;
}

.roseCurve {
  position: absolute;
  top: 25%;
  right: 25%;
}
